/* variables and mixins */

/* index base colour */
$indexBaseColor: #006e80; 

/* set a colour darker than base */
$darkerBaseColor: #015563;

/* main font family */
$mainFont: Oswald,sans-serif;

/* special font */
$specialFont: arcade;

/* light gray */
$lightGray: #c8cccf;

/* home base color */
$homeBaseColor: #ffad00;

/* element transitions */
$trans: all ease .3s;

/* form fonts */
.formFonts {
   font-size: 1.8rem;
   color: $darkerBaseColor;
   font-weight: normal;
}
