
/* home page basics*/
html, body{
    height: 100%;
    font-family:  $mainFont;
}
p {
    font-size: 2.5rem;
    color: #675e5e;
}
h2, h4{
    font-size: 4rem;
    color: $darkerBaseColor;
    text-align: center;
    margin-top: 0;
}
h3 {
    margin-top: 0;
    font-size: 3rem;
}
.github {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    color: #fff;
    font-size: 40px;
    padding: 3px 14px 0 0;
    cursor: pointer;
}
.github > i {
    z-index: 6;
    position: relative;
}
.github::before,
.github::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.github::before {
    border-width: 1.5em;
    border-right-color: #000;
    border-top-color: #000;
}

.github::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-right-color: #000;
    border-top-color: #000;
    z-index: 1;
}
@media only screen and (max-width: 780px) {
    .github {
        display: none;
    }
}
.sectionSummary {
    color: $lightGray;
    font-size: 2rem;
    text-align: center;
}
section {
    margin-top: 100px;
    overflow: hidden;
}
.main {
   margin-left: 300px;
}
@media only screen and (max-width: 780px) {
   .main {
       margin-left: 0px;
   }
}
/* logo */
.homeSvgLogo {
    width: 170px;
    height: auto;
}
@media only screen and (min-width: 451px) and (max-width: 780px) {
    .homeSvgLogo {
        width: 80px;
    }
}
@media only screen and (max-width: 450px) {
    .homeSvgLogo {
        width: 65px;
    }
}
.logoText {
    font-family: $specialFont;
    font-size: 8rem;
    fill: $darkerBaseColor;
    font-weight: 300;
    letter-spacing: 5px;
}
.logo {
    margin-top: 20px;
}
.logoSvg {
    fill: $homeBaseColor;
    stroke: #015563;
    stroke-width: 6px;    
}
/* sidebar */
.sidebar {
    background: $indexBaseColor;
    height: 100%;
    position: fixed;
    left:0;
    top: 0;
    width: 300px;
    text-align: center;
}

.quickAbout {
    display: block;
    color: #fff;
    font-size: 1.8rem;
}
.name {
    font-size: 2.7rem;
    color: $homeBaseColor;
    margin: 3px;
    font-weight: bold;
}
@media only screen and (max-width: 780px) {
    .logo {
        margin-top: 5px;
        display: inline-block;
    }
    .sidebar {
        height: 85px;
        width: 100%;
        z-index: 99;
        box-shadow: 0px 5px 10px 0px grey;
    }
    .name, .quickAbout {
        display: none;
    }
}
/* navigation */
nav ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
nav {
    ul li {
        margin: 0px 50px;
        transition: $trans;    
        width: 65%;
        box-shadow: 0 3px 0px -2px #6a6c6d;
        border-bottom: 1px solid #055c6b;
    }
    ul li:hover {
        width: 30%;
    }
    ul li a {
        padding: 10px 0;    
        color: $homeBaseColor;
        font-size: 2rem;
        font-weight: bold;
        transition: $trans;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block; 
    }
    ul li a:hover {
        color: #fff;
        text-decoration: none;    
    }
} 
.hide-tablet {
    display: inline-block;
}
.hide-desktop {
    display: none;
}

@media only screen and (max-width: 780px) {
    .hide-tablet {
        display: none;
    }
    .hide-desktop{
        display: inline-block;
    }
    .bars {
        display: inline-block;
        position: fixed;
        width: 40px;
        top: 28px;
        left: 28px;
        color: #ffad00;
        font-size: 36px;
        padding: 0;
        cursor: pointer;
    }
}
@media only screen and (max-width: 450px) {
    .sidebar {
        height: 70px;
    }
    .bars {
        top: 18px;
    }
}

/* footer */
/* adjust icon sizes for balance */
footer {
    background: $darkerBaseColor;
    padding: 15px 0 20px 0;
    margin-top: 50px;
    text-align: center;
}
.backToTop {
    display: inline-block;
    background: $homeBaseColor;
    position: relative;
    bottom: 39px;
    font-size: 30px;
    cursor: pointer;
    transition: $trans;
    height: 47px;
    width: 56px;
    
    .arrow-up {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}
.backToTop:hover .arrow-up {
    -webkit-animation: 1s linear 0s infinite alternate toTopArrow;
            animation: 1s linear 0s infinite alternate toTopArrow;  
}
@keyframes toTopArrow {

    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}
.copyright {
    color: #fff;
    font-size: 2rem;
    margin-top: 25px;
    display: block;
}
/* social links */   
.social-menu {
    list-style: none;
    text-align: center;
    padding-left: 13px;
   
    li {
        display: inline-block;
        background: $indexBaseColor;
        padding: 8px 0;
        margin-right: 10px;
        cursor: pointer;
        overflow: hidden;
        transition: all ease 2s;
    }
    li:hover {
        background: #0ca9ad;
    }
    li a {
        color: #fff;
        font-size: 20px;
        margin: 0px 16px;
    }
}
.social-menu  li:hover > a > .social-link {
    -webkit-animation: 1s linear forwards iconflip;
            animation: 1s linear forwards iconflip; 
}
@keyframes iconflip {
    0% {
        transform: translateX(-60px);
    }
    40% {
        transform: translateX(0);
    }
    100% {
        color: $darkerBaseColor;
    }
}
.jsFiddle {
    padding: 10px 0 !important;
}
.jsFiddle a {
    font-size: 18px !important;
}

/* skills section */
.skillBar {
    background: $lightGray;
    margin-bottom: 12px;
    position: relative;
}
.skillLevel {
    background: $darkerBaseColor;
}
.skillTag {
    background: $indexBaseColor;
    font-size: 2rem;
    color: white;
    padding: 5px;
    width: 150px;
    display: inline-block;
    text-align: center;
}
.level {
    position: absolute;
    right: 15px;
    font-size: 2rem;
    top: 5px;
}
.other-tech {
    margin-top: 60px;

    h3 {
        text-align: center;
        color: grey;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            padding: 20px;
            color: white;
            font-family: monospace;
            text-transform: uppercase;
            float: left;
            margin: 5px;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
    .lang {
        background: red;
    }
    .data {
        background: blue;
    }
    .tool {
        background: purple;
    }
    .library {
        background: #ffc107;
    }
}
/* projects section */
.projectWrap {
    width: 98%;
    float: left;
    position: relative;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 40px;
    margin-top: 40px;
}
.projectWrap img {
    width: 100%;
}
.projectAbout {
    float: left;
    width: 50%;
    
    p {
        font-size: 2rem;
        margin: 30px 0;
    }
}
.projectImage {
    float: right;
    width: 50%;
    padding-left: 20px;
}
@media only screen and (max-width: 780px) {
    .projectAbout, .projectImage {
        width: 100%;
        float: none;
    }
    .projectImage {
        padding: 0;
        margin-bottom: 30px;
    }
}
.view-project {
    margin-top: 30px;
    background: #fff;
    border: 1px solid $darkerBaseColor;
    border-radius: 5px;
    padding: 12px 10px;
    clear: both;
    display: block;  
    transition: all ease-in .5s; 

   a {
       color: $darkerBaseColor;
       font-weight: bold;
       font-size: 1.5rem;
       text-transform: uppercase;
       text-decoration: none;
   }
}
.view-project:hover {
    background: $homeBaseColor;
    border-color: $homeBaseColor;
    
    a {
        color: #fff;
    }
}
.tech {
    font-size: 2.1rem;
}
.usedTech {
    font-size: 1.8rem;
    background: #575a5a;
    margin: 5px 5px 0 0;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-family: monospace;
    border-radius: 5px;
}
.browser {
    border: 1px solid $lightGray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    ul {
        width: 100%;
        border-bottom: 1px solid $lightGray;
        list-style: none;
        height: 19px;
        padding: 5px;
        
        li {
            float: left;
            width: 10px;
            height: 10px;
            background: red;
            border-radius: 50%;
            margin-right: 5px;
        }
        li:nth-child(1) {
            background: red;
        }
        li:nth-child(2) {
            background: yellow;
        }
        li:nth-child(3) {
            background: green;
        }                
    }
}
/* contact form */
label, .form-control {
    @extend .formFonts;
}
.btnSubmit {
    font-size: 1.8rem;
    background: $darkerBaseColor;
}
